<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-icon slot="end" name="log-out" (click)="signOut()" style="font-size: 1.5em; margin-right: 2vw;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img [src]="image">
    </ion-avatar>
    <ion-card-header>
      <ion-card-title>{{name}}</ion-card-title>
      <ion-card-subtitle>{{email}}</ion-card-subtitle>
    </ion-card-header>
  </ion-item>
</ion-content>