<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to ThinkTac/ISPF</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Please use ThinkTac/ISPF google accounts
    </ion-card-content>
  </ion-card>
  <ion-button id="gLogin" color="danger" (click)="googleLogin()">
    Google Login
  </ion-button>
</ion-content>